*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) {
        font-size: 56.25%; // 1 rem = 9px, 9/16=0.5625 =>56.25%
    }
    @include respond(tab-port) {
        font-size: 50%; //1 rem = 8px; 8/16=50%
    }
    @include respond(phone) {
        font-size: 40%; //1 rem = 8px; 8/16=50%
    }
    @include respond(big-desktop) {
        font-size: 75%;
    }
}

body {
    // color: $color-gray-dark;
    // padding: 30px;
    padding: 30px;
    box-sizing: border-box;
    @include respond(tab-port) {
        padding: 0;
    }
}
